

@import views.html.helper._

<html>
<head>
</head>
<body>

@helper.form(action = routes.Application.setEvent()) {
	
	<p>Choose the event topic</p>
	 <input type="radio" name="topic" value="flowers" />Flowers<br><br><br>
	  <input type="radio" name="topic" value="animals" />Animals<br><br><br>
	   <input type="radio" name="topic" value="birds" />Birds<br><br><br>
	
	<p>Enter the event message</p>
   <br><br><br><input type="text" name="eventMessage" /><br><br><br><br>
   
 
	<input type='submit' value='Submit and return to main page' /><br><br><br>  

}


</body>
</html>